
body {
    font-family: "Go", Arial, sans-serif;
}

a:hover, .exampleHeading .text:hover {
    text-decoration: underline;
}
a, .exampleHeading .text {
    color: #375EAB;
    text-decoration: none;
}

#container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 728px;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
    #container {
        max-width: 100%;
    }
}

#logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

code {
    font-family: "Go Mono", monospace;
    background: #F3F3F3;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
}

.btn:hover, .btn:active, .btn.zeroclipboard-is-hover, .btn.zeroclipboard-is-active {
    text-decoration: none;
    background-color: #ddd;
    background-image: linear-gradient(#eee,#ddd);
    border-color: #ccc;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 2px 4px;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: #eee linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    margin-left: 3px;
}

.stun-message {
    padding: 3px 3px 3px 15px;
    color: black;
}

.stun-message p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.attribute {
    margin: 1px;
    color: #888;
}

#description {
    padding-bottom: 5px;
    padding-top: 5px;
}

.container {
    max-width: 728px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#description, #response {
    padding-left: 10px;
}

.error {
    color: #ff1a35;
    background-color: aliceblue;
    border-radius: 1px;
}

.warning {
    color: #9d8f15;
    background-color: aliceblue;
    border-radius: 1px;
}

.success {
    color: #2e9d4e;
    background-color: aliceblue;
    border-radius: 1px;
}

h1, h2, h3, h4 {
    margin: 20px 0 20px;
    padding: 0;
    color: #375EAB;
    font-weight: bold;
}

@font-face {
    font-family: 'Go';
    src: url('../fonts/GoMedium-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Go';
    src: url('../fonts/Go-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Go';
    src: url('../fonts/Go-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Go';
    src: url('../fonts/GoMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Go';
    src: url('../fonts/Go-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Go';
    src: url('../fonts/GoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Go Mono';
    src: url('../fonts/GoMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Go Mono';
    src: url('../fonts/GoMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Go Mono';
    src: url('../fonts/GoMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Go Mono';
    src: url('../fonts/GoMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}