[Unit]
Description=LetsEncrypt Renew Script
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPost=/bin/systemctl reload nginx.service
ExecStart=/usr/local/bin/lego_linux_amd64 -a -s {{ lego_server }} -d={{ fqdn }} -m={{ lego_email }} --webroot={{ nginx_acme_dir }} --path={{ lego_dir }} renew
Type=simple
Restart=on-failure
RestartSec=10s
PrivateTmp=yes
