[Unit]
Description=GoRTC Web service
After=network-online.target
Wants=network-online.target

[Service]

WorkingDirectory=/home/web/root
ExecStart=/home/web/root/cydev-web
Restart=on-failure
Type=simple
User=web
Group=web
LimitNOFILE=65536
RestartSec=3
MemoryAccounting=true
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
